body {
	color: #444;
	font-family: 'Lato', sans-serif;
}

#container {
	display: flex;
}

#navbar {
	position: fixed;
	flex: 0 0 300px;
	padding: 30px;	
}

code {
	white-space: pre-wrap;
	background: #eee;
	font-family: monospace;
	padding: 20px;
	font-size: 14px;
	display: block;
	margin: 20px 0;
	overflow: auto;
}

#navbar header{
	font-size: 36px;
}

#navbar ul {
	list-style: none;
	padding: 0;
}

#navbar ul li {
	padding: 10px 0px;	
}

.nav-link {
	font-size: 20px;
	text-decoration: none;
	color: #2c3e50;
}

.nav-link:hover {
	color: #7f8c8d;
}

#main-doc {
	padding: 30px;
	margin-left: 330px;
}

.main-section header {
	font-size: 28px;
}

.main-section p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.2;	
}

@media screen and (max-width: 800px){
	#container {
		display: flex;
		flex-direction: column;
	}

	#navbar {
		flex-grow: 1;
		position: initial;
	}

	#main-doc {
		flex-grow: 1;
		margin: 0;
	}
}
